@model Invoice.Site.Models.Address.AddressEditModel

<div class="controls">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Street)
                @Html.TextBoxFor(model => model.Street, new { @class = "form-control", placeholder = "fill street here..." })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.BuildingNumber)
                @Html.TextBoxFor(model => model.BuildingNumber, new { @class = "form-control", placeholder = "fill building no. here..." })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.HomeNumber)
                @Html.TextBoxFor(model => model.HomeNumber, new { @class = "form-control", placeholder = "fill home no. here..." })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PostCode)
                @Html.TextBoxFor(model => model.PostCode, new { @class = "form-control", placeholder = "fill postal code here..." })
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.LabelFor(model => model.City)
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "fill city here..." })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedCountryId)
                @Html.DropDownListFor(model => model.SelectedCountryId, new SelectList(Model.Countries, "Id", "Symbol"),
                    new { @class = "form-control", placeholder = "fill street here..." })
            </div>
        </div>
    </div>

 </div>
