<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Custom.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC Invoice", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @Html.Partial(MVC.Toolbar.Views.Toolbar, Invoice.Site.Helpers.ToolbarHelper.GetToolbarMenuModel())
        </div>
    </div>
    @*for login modal*@
   @*<div id="login-modal-placeholder" tabindex="-1" class="modal fade" role="dialog" style="border: 5px solid #0094ff">
    <a href="#close" title="Close" class="modal-close-btn">X</a>
       <div class="modal-content" style="width:500px !important; margin: 10px auto !important;">
           <div class="modal-body">
           </div>
       </div>
   </div>*@


    <div id="currenny-tracker-placeholder" class="container">
     @*for ajax fill*@
    </div>

    @Html.Partial(MVC.Account.Views.LoginModal, new Invoice.Site.Models.LoginViewModel())

    <div id="view-placeholder" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <div id="ajax-error-placeholder">
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
