@model Invoice.Site.Models.Company.CompanySearchViewModel

@using (Ajax.BeginForm(MVC.Company.ActionNames.Search, MVC.Company.Name, null, new AjaxOptions() { HttpMethod = "GET", OnBegin = "CompanySearchOnBeginSubmit", OnSuccess="CompanySearchOnSuccess" }, new {@id="form-company-search" }))
{
    @Html.AntiForgeryToken()

    <div class="ErrorMessage">
        @Html.ValidationSummary(false)
    </div>
    <div id="post-ajax-error-placeholder">
    </div>

    <div class="controls">

        @Html.HiddenFor(model => model.PageIndex)
        @Html.HiddenFor(model => model.PageSize)
        @Html.HiddenFor(model => model.InitSearch)

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "fill name here..." })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Symbol)
                    @Html.TextBoxFor(model => model.Symbol, new { @class = "form-control", placeholder = "fill symbol here..." })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.FreeText)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "fill searched data here..." })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedSortType)
                    @Html.DropDownListFor(model => model.SelectedSortType, Model.SortTypeList, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedSortBy)
                    @Html.DropDownListFor(model => model.SelectedSortBy, Model.SortByList, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-send">Search</button>
                @Html.ActionLink("Add", MVC.Company.ActionNames.Create, MVC.Company.Name, null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>

}
