@model Invoice.Site.Models.Company.CompanyViewModel

<tr>
    <td align="center" class="col-md-1">
        @Html.ActionLink(" ", MVC.Company.ActionNames.Edit, MVC.Company.Name, new { id = Model.Id }, new { @class = "glyphicon glyphicon-edit" })
        @Ajax.ActionLink(" ", MVC.Company.ActionNames.Delete, MVC.Company.Name, new { id = Model.Id }, new AjaxOptions {HttpMethod = "POST"} ,new { @class = "glyphicon glyphicon-remove" })
    </td>
    <td class="col-md-1">@Model.Symbol</td>
    <td class="col-md-2">@Model.Nip</td>
    <td class="col-md-4">@Model.Name</td>
    <td class="col-md-5">@Model.Description</td>
</tr>