@model Invoice.Site.Models.Company.CompanyEditModel
@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm(MVC.Company.ActionNames.Edit, MVC.Company.Name))
{
    @Html.AntiForgeryToken()

    <div class="ErrorMessage">
        @Html.ValidationSummary(false)
    </div>

    <div class="controls">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Company details</div>
                <div class="panel-body">
                    @Html.Partial(MVC.Company.Views._Company, Model)
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Address</div>
                <div class="panel-body">
                    @Html.EditorFor(model => model.Address)
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Bank Account</div>
                <div class="panel-body">
                    @Html.EditorFor(model => model.BankAccount)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success btn-send">Save</button>
                </div>
            </div>
        </div>
    </div>
}


